@import "./bootstrap/scss/bootstrap";
@import "./variables.scss";

body {
  background-color: $page-background;
  font-family: $font;
}

.navbar {
  margin-top: 10px;
  align-items: baseline;
}

.page-header {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.row {
  justify-content: center;
}

.card-container {
  // centers card within its containing col
  display: flex;
  justify-content: center;
  margin: 6px;
}

.card-body {
  background-color: $card-background;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-item {
  color: $links-color;
}

// <992px = 1 item, 992-1200 = 2 items, >1200 = 3 items per row
@media (max-width: 992px) {
  #linebreak-for-nav {
    width: 100%;
    display: flex;
  }
}
@media (min-width: 993px) {
  #linebreak-for-nav {
    // hidden div that only shows when we are on small screen size
    // just a 100% width div that forces div containing items to wrap underneath so nav is on top
    display: none;
  }
}

@media (max-width: 992px) and (min-width: 992px) {
  // fix for bug when view is exactly 992px wide
  .container {
    max-width: 540px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px; // default is 1140, just slightly too small to fit the 3 images
  }
}
