<html lang="en">

  <head>
    <title>{{pageTitle}}</title>
  </head>

  <body>
    <div id="search-form">
      <form action="/search" method="POST">
        <label for="searchTerm">Search</label>
        <input type="text" name="searchTerm" id="searchTerm" />
      </form>
    </div>
    {{{body}}}
  </body>

</html>