<div id="search-results">
  {{#if searchError}}
    <div id="search-error">{{searchError}}</div>
  {{else}}
    <ul>
      {{#each searchResult}}
        <li>
          <a href="/show/{{this.show.id}}">{{this.show.name}}</a>
        </li>
      {{/each}}
    </ul>
  {{/if}}
</div>